name: Lint OpenAPI

on:
  # Trigger analysis when pushing in master or pull requests, and when creating
  # a pull request.
  push:
    branches:
      - master
  pull_request:
    branches: [ master ]

jobs:
  spectral-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install Spectral
        run: npm install --global @stoplight/spectral-cli

      - name: Lint all OpenAPI files
        run: spectral lint communicate-with-ruuvi-cloud/cloud/**/openapi.yaml --ruleset=@stoplight/spectral-rulesets/oas
